h1 {
    font-family: fantasy;
    font-weight: bold;
    text-align: center;
    background-color: red
}
#all {
    text-align: center;
    color: red;
}
#allp {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    color: red;
}
body {
    background-color: black;
}

#output {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    color: red;
}
button {
    cursor: pointer;
    border-radius: 10px;
    background-color: red;
}

